html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	width:100%;
	
}


@font-face {
   font-family: myFont, Aerial;
   src: url(http://www.google.com/fonts/specimen/Roboto);
}
#wrapper{
	box-sizing: border-box;
	font-size: 15px;
	font-family:myFont, Aerial;
	background-color: #4a637f;

}
.clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
#content{
	width: 90%;
	padding-top: 5%;
	margin: auto;
}
/************** vasko ***************/

#nav{
	background-color: #fff;
	display: inline-block;
}
#mobile_opener{
	width: 7%;
	background-image: url("../img/mobile_opener_grey.png");
	background-position: center center;
	background-size: 40% 40%;
    background-repeat: no-repeat;
	display: inline-block;
}
.mob_opener{
	width: 100%;
	min-height: 13vh;
	display: inline-block;

}
#mobile_opener:hover{
	min-height: 13vh;
	background-image: url("../img/mobile_opener.png");
	background-color: #56ccc8;
	background-position: center center;
	background-size: 40% 40%;
    background-repeat: no-repeat;
	
}

#mobile_opener img{
	width: 50%;
	padding: 5%;
}
.top_menu{
	width: 60%;
	padding: 1% 0 0 0;
	text-align: center;
	vertical-align: top;
	display: inline-block;
}
.menu{
	display: inline-block;
}
.menu li{
	width: 18%;
	padding: 2% 0;
	display: inline-block;
}
.menuLink{
	color: #000;
	text-decoration: none;
	text-align: center;
	display: block;
}
.menuLink:hover{
	color: #a5e4e2;
}
#search{
	width: 10%;
	padding: 2% 0 0 0;
	vertical-align: top;
	display: inline-block;
}
#search input{
		border: 1px solid #dde2e4;
		background-image: url("../img/search.png");
		background-repeat: no-repeat;
		background-position: right;
}

.socialImg{
	width: 12%;
	margin-left:3%;
	padding: 2% 0 0 0;
	border-left: 1px solid #dde2e4;
	border-right: 1px solid #dde2e4;
	display: inline-block;
	vertical-align: top;
}
.social{
	width: 20px;
	height: 20px;
	padding: 0% 8%;
	
}
.grouped_elements:hover{
	border-bottom: 2px solid #56ccc8;
}
#login{
	width: 2%;
	padding: 2% 2% 0 2%;;
	vertical-align: top;
	display: inline-block;
	
}
#login img{
	width: 86%;
}

.sideMenuHalf{
	width: 50%;
	margin: 2% 0;
	display: table;
	
}
.sideMenu{
	width: 50%;
	vertical-align: top;
	display: table-cell;
	background-color: #c5cdd1;
}

.SideMenuList li{
	list-style: none;
	padding: 3% 0;
	background-color: #fff;
	border-bottom: 1px solid #e1e5e7;
}

.sprites{
	width: 28px;
	height: 28px;
	background-image: url("../img/menu_icons.png");
	display: inline-block;
}
.home{
	background-position: 0 0;
}
#store{
	background-position: 0 -65px;
}
#blog{
	background-position: 0 -120px;
}
#community{
	background-position: 0 -180px;
}
#contests{
	background-position: 0 -240px;
}
#about{
	background-position: 0 -300px;
}
#contact{
	background-position: 0 -363px;
}
.side{
	width: 80%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 1% 0 1% 5%;
}
.SideMenuList li:hover{
	background-color: #56ccc8;
	color: #fff;
}
.contacts{
	background-color: #c5cdd1;
	
	
}

.cont{
	width: 25px;
	margin: 10%;
	background-image: url("../img/contact_icons.png");
	display: inline-block;
	
}
	
#telephon{
	background-position: 0 0;
}
#addres{
	background-position: 0 -64px;
}
#mail{
	background-position: 0 -144px;
}
.contacts p{
	width: 65%;
	padding: 10% 2%;
	vertical-align: top;
	display: inline-block;
	color: #fff;
	
}
.sideMenuLink{
	width: 48%;
	display: table-cell;
	
}
.subMenu{
	background-color: #152840;
	display: inline-block;
	margin-bottom:1%;
	width: 100%;
}
.subMenuList li{
	background-color: #152840;
	display: inline-block;
	border: none;
	
}
.subMenuLink {
	display: block;
	color: #fff;
}
.subMenuLink:hover{
	color: #56ccc8;
}

.subMenuList li:hover{
	background-color: #152840;
	background-image: url("../img/arrow_blue.png");
	background-repeat: no-repeat;
	background-position: center right;
}
/************* end vasko *************/
/************* nasko *****************/









/************* end nasko ***************/
